<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <Icon Name="IconName.BalloonHeartFill" Size="IconSize.x3" /> 
            KyU
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" @* onclick="document.querySelector('.navbar-toggler').click()" *@>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <Icon Name="IconName.BookFill" Size="IconSize.x3" Style="margin-right: 10px;" /> Books
            </NavLink>
            <div class="nav-sub-item ps-4">
                <NavLink class="nav-link" href="books/favorites">
                    <Icon Name="IconName.HeartFill" Size="IconSize.x4" Style="margin-right: 10px;" /> Favorite
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Student
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="translate">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Translate
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="letter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Letter
            </NavLink>
        </div>

    </nav>
</div>
