@inject MyPage.Service.LoginService loginService
@using MudBlazor
@rendermode InteractiveServer


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <Icon Name="IconName.BalloonHeartFill" Size="IconSize.x3" /> 
            KyU
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <Icon Name="IconName.BookHalf" Size="IconSize.x3" Style="margin-right: 10px;" /> Books
            </NavLink>
            <div class="nav-sub-item ps-4">
                <NavLink class="nav-link" href="books/favorites">
                    <Icon Name="IconName.BookmarkFill" Size="IconSize.x4" Style="margin-right: 10px;" /> Favorite
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <Icon Name="IconName.PersonVCardFill" Size="IconSize.x3" Style="margin-right: 10px;" /> Student
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <Icon Name="IconName.Clipboard2CheckFill" Size="IconSize.x3" Style="margin-right: 10px;" /> ToDo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="letter">
                <Icon Name="IconName.JournalBookmarkFill" Size="IconSize.x3" Style="margin-right: 10px;" /> Journal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="letter">
                <Icon Name="IconName.PostcardHeartFill" Size="IconSize.x3" Style="margin-right: 10px;" /> PostCard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="letter">
                <Icon Name="IconName.EnvelopeOpenHeart" Size="IconSize.x3" Style="margin-right: 10px;" /> Letter
            </NavLink>
        </div>

        @if (loginService.IsLoggedIn && loginService.IsAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <Icon Name="IconName.PersonLinesFill" Size="IconSize.x3" Style="margin-right: 10px;" /> Users
                </NavLink>
            </div>
        }

    </nav>
</div>

