@page "/"
@using MyPage.Components.Pages.BooksPages
@rendermode InteractiveServer

@using MudBlazor

<MudTabs Elevation="2" Rounded="true" Centered="true" Class="my-6" Color="Color.Primary">
    <MudTabPanel Icon="@Icons.Material.Filled.Api" Text="Notes" />
    <MudTabPanel Icon="@Icons.Material.Filled.Build" Text="Journal" BadgeData="1" BadgeColor="Color.Success" />
    <MudTabPanel Icon="@Icons.Material.Filled.BugReport" Text="Letter" />
    <MudTabPanel Icon="@Icons.Material.Filled.AccessTime" Text="Postcard"/>
</MudTabs>


<Tabs EnableFadeEffect="true" NavStyle="NavStyle.Pills">
    <Tab Title="Home" IsActive="true">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Home</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="Profile">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Profile</b> tab.</p>
        </Content>
    </Tab>
    <Tab Title="Contact">
        <Content>
            <p class="mt-3">This is the placeholder content for the <b>Contact</b> tab.</p>
        </Content>
    </Tab>
</Tabs>