@page "/logout"

@inject MyPage.Service.LoginService loginService
@inject NavigationManager Nav
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer
@inject ToastService toastService

<h3>Logging Out...</h3>



@code {

    protected override async Task OnInitializedAsync()
    {

        if (loginService.IsLoggedIn)
        {
            loginService.Id = 0;
            loginService.UserName = string.Empty;
            loginService.IsLoggedIn = false;

            toastService.Notify(new(ToastType.Success, $"Logged out successfully."));


            await Task.Delay(1000);
            Nav.NavigateTo("/");
            
        }
        else
        {
            await Task.Delay(1000);

            Nav.NavigateTo("/");
        }
    }

}
