@inject MyPage.Data.PageDbContext DbContext

<div class="row">
    <div class="col-5 col-md-3 text-end">Student Id :</div>
    <div class="col-7 col-md-9">@student?.StudentID</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Name :</div>
    <div class="col-7 col-md-9">@student?.Name</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">School :</div>
    <div class="col-7 col-md-9">@student?.School</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Education :</div>
    <div class="col-7 col-md-9">@student?.Education</div>
</div>

@code {
    private Student? student;

    [Parameter] public int StudentId { get; set; }

    protected override async void OnInitialized()
    {
        student = await DbContext.Students.FindAsync(StudentId);

        base.OnInitialized();
    }
}