@page "/users"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject MyPage.Data.PageDbContext DB
@using MyPage.Model
@inject MyPage.Service.LoginService loginService
@inject NavigationManager Nav

<PageTitle>Index</PageTitle>

@if (loginService.IsLoggedIn && loginService.IsAdmin)
{
    <h1>Index</h1>

    <p>
        <a href="users/create">Create New</a>
    </p>

    <QuickGrid Class="table" Items="DB.Users">
        <PropertyColumn Property="user => user.UserName" />
        <PropertyColumn Property="user => user.Password" />
        <PropertyColumn Property="user => user.Password2" />
        <PropertyColumn Property="user => user.CreateDate" />

        <TemplateColumn Context="user">
            <a href="@($"users/edit?id={user.Id}")">Edit</a> |
            <a href="@($"users/details?id={user.Id}")">Details</a> |
            <a href="@($"users/delete?id={user.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
}
else
{
    <p>You do not have permission to view this page.</p>
    @if (!loginService.IsLoggedIn)
    {
        <p>Please <a href="/login">log in</a>.</p>
    }
}
